<h2 id="title">Welcome to Ember.js</h2>

<div class="container">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	  	<h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	  	<div>
				Fontawesome loaded: <i class="fa fa-check"></i>
			</div>
			<div>
				Bootstrap loaded: <span class="label label-success">Success</span>
			</div>
	  </div>
	</div>
</div>

{{outlet}}